.DS_Store

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

*.sublime*

# Dependency directory
# Commenting this out is preferred by some people, see
# https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules

public/bower_components

.dub

hellovibe
